<div class="dashboard-container">
    <div class="title">
        Hello, It is me
        <div>
          <h1>Priyang</h1>
        </div>
    </div>
    <div class="description">
        I call Myself website Developer To look cool...
    </div>


    <div class="entity technical-info">
        <div class="header">Technical Skills</div>
        <div class="table-row">
            <div class="col left">Programming Languages I've worked On:</div>
            <div class="col right">C, C++, JAVA, C#, Javascript, Typescript</div>
        </div>
        <div class="table-row">
            <div class="col left">Web Technologies:</div>
            <div class="col right">JAVA-Spring, .NET Mvc Core, Angular, ExpressJs</div>
        </div>
    </div>

    <div class="entity experience">
        <div class="header">
            Experience
        </div>
        <div class="table-row">
            <div class="col left">
                JAVA DEVELOPER ( MAY 2018 TO JUN 2018 )
            </div>
            <div class="col right">
                worked with spring framework java and jquery to build admin
                hum of a school management system
                <br>Based on java-spring, jquery, aws, mysql
            </div>
        </div>
        <div class="table-row">
            <div class="col left">
                FULL STACK DEVELOPER( FROM JAN-2020 )
            </div>
            <div class="col right">
                Web based Learning site Where Teachers publishes course
                with resources, lessons and student who has subscribed that
                course can view it and share also student can attempt test
                which is made by teacher and teacher can give marks to that
                test
                also teacher and student can view the report of particular test

                <br>based on c#, .net, mssql, angular

                <br> MY role was to implement APIs in .net MVC core and Mssel
                sometings I used to work on Angular too
            </div>
        </div>
    </div>

    <div class="entity hobbies">
        <div class="header">
            Hobbies
        </div>
        <div class="table-row">
            <div class="col left">
                Playing Chess
            </div>
            <div class="col right">
                I have played chess a lot (around 10k games online) since 2018<br>
                chess profiles :<br>
                Lichess:
                <a href="https://lichess.org/@/Priyangbhavsar">@Priyangbhavsar</a><br>
                 chess.com :
                 <a href="https://www.chess.com/member/priyangbhavsar">priyangbhavsar</a>
            </div>
        </div>
        <div class="table-row">
            <div class="col left">
                Competitive programming
            </div>
            <div class="col right">
                I am taking Competitive Programming as Hobby <br>
                Some websites on which I do competitiveProgramming:<br>
                Leetcode: <a href="https://leetcode.com/bhavsarpriyang9999/">bhavsarpriyang9999</a><br>
                Codechef: <a href="https://www.codechef.com/users/priyang">priyang</a><br>
                binarysearch.com: <a href="https://binarysearch.com/@/priyangbhavsar">@priyangbhavsar</a><br>
                geeksforgeeks: <a href="https://auth.geeksforgeeks.org/user/priyangbhavsar">priyangbhavsar</a><br>
            </div>
        </div>
    </div>

    <div class="entity contact-info">
        <div class="header">
            Important Links
        </div>
        <div class="table-row">
            <div class="col right">
                LinkedIn : <a href="https://www.linkedin.com/in/priyang-bhavsar/">priyang-bhavsar</a>
                <br>Email : <a href="mailto:bhavsarpriyang9999@gmail.com">bhavsarpriyang9999@gmail.com</a>
                <br> Github: <a href="https://github.com/priyangbhavsar">priyangbhavsar</a>
            </div>
        </div>
    </div>
</div>
