<div class="title-container">
  <div class="title">
    <h1 class="info">Hello I am Priyang</h1>
    <h4>Software Engineer</h4>
    <br />
    <br />
    <div>
      worked on different projects under various technologies like : Spring-MVC,
      dotnet MVC Core 3.0, Angular CLI 8, React, NodeJs and ExpressJs
      <br />Worked on Databases like : Microsoft SQL Server, MySQL and
      Postgresql <br />Passionate to explore New technologies in software
      development field

      <br /><br />Competitive Programming Profiles:
      <br />
      <div class="images-container">
        <a href="https://leetcode.com/bhavsarpriyang9999/" target="_blank"
          ><img height="60px" src="../../../assets/images/leetcode.png" alt="leetcode"
        /></a>
        <a href="https://binarysearch.com/@/priyangbhavsar" target="_blank">
          <img height="60px" src="../../../assets/images/binarysearch.webp"  alt="binary search"/>
        </a>
        <a href="https://www.codechef.com/users/priyang" target="_blank">
          <img height="60px" src="../../../assets/images/codechef.png"  alt="codechef"/>
        </a>
      </div>
    </div>
  </div>
</div>
