<div class="title-container">
  <div class="title">
    <div class="info">
      <h1>Hello I am Priyang</h1>
      <div>
        A detail-oriented software developer with nearly 3 years of exposure in designing the overall architecture 
        of websites & applications, maintaining quality, and ensuring responsiveness of applications. Aiming to leverage 
        a proven knowledge of web development and design skills to successfully fill a Software Developer role. Frequently 
        praised as adaptable by my peers, I believe to be able to help any company achieve its goals. Flexible and enthusiastic 
        approach, excellent work ethic in creating innovative products, and the ability to think laterally and creatively.
      </div>
    </div>

  </div>
  <div class="technical-skills">
    <div class="skill-title">
      <h3>Technical Skills</h3>
    </div>
    <div class="skills">
      <div class="skill-item skill-item-heading">
        <div class="skill-item-title">
          Name
        </div>
        <div class="skill-item-value">
          Skill
        </div>
        <div class="experience-value">
          Experience
        </div>
      </div>
      <div class="skill-item-content">
        <div class="skill-item" *ngFor="let skill of technicalSkills">
          <div class="skill-item-title">{{ skill.name }}</div>
          <div class="skill-item-value">
            <span *ngFor="let number of [1, 2, 3, 4, 5]">
              <mat-icon *ngIf="skill.skill - number === 0.5">star_half</mat-icon>
              <mat-icon *ngIf="skill.skill - number !== 0.5 && skill.skill >= number">star</mat-icon>
              <mat-icon *ngIf="skill.skill - number !== 0.5 && skill.skill < number">star_border</mat-icon>
            </span>
          </div>
          <div class="experience-value">
            <span *ngFor="let number of [1, 2, 3, 4, 5]">
              <mat-icon *ngIf="skill.experience - number === 0.5">star_half</mat-icon>
              <mat-icon *ngIf="skill.experience - number !== 0.5 && skill.experience >= number">star</mat-icon>
              <mat-icon *ngIf="skill.experience - number !== 0.5 && skill.experience < number">star_border</mat-icon>
            </span>
          </div>
      </div>
      </div>
    </div>
    <!-- <br /><br />Competitive Programming Profiles:
    <br />
    <div class="images-container">
      <a href="https://leetcode.com/bhavsarpriyang9999/" target="_blank"
        ><img height="60px" src="../../../assets/images/leetcode.png" alt="leetcode"
      /></a>
      <a href="https://binarysearch.com/@/priyangbhavsar" target="_blank">
        <img height="60px" src="../../../assets/images/binarysearch.webp"  alt="binary search"/>
      </a>
      <a href="https://www.codechef.com/users/priyang" target="_blank">
        <img height="60px" src="../../../assets/images/codechef.png"  alt="codechef"/>
      </a>
    </div> -->
  </div>
</div>
