<div class="desktop">
    <div class="file" *ngFor="let x of filesList" [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="x">
        <div class="icon">
            <img [src]="domSanitizer.bypassSecurityTrustResourceUrl(x.iconUrl ?? images.fileIcon)" class="file-icon">
        </div>
        <div class="text">{{x.name}}{{x.extension}}</div>
    </div>


    <mat-menu #appMenu="matMenu" class="mat-menu" style="padding: 0;" [class]="'customize'">
      <ng-template matMenuContent let-name="name" let-extension="extension" let-canView="canView" let-downloadable="downloadable">
        <button mat-menu-item class="menu-item" (click)="openInNewTab(name+extension, false)">Open {{name}}</button>
        <button mat-menu-item class="menu-item"  (click)="showFile(name+extension)"
            *ngIf="canView">View {{name}}</button>
        <button mat-menu-item class="menu-item" (click)="openInNewTab(name+extension, true)"
            *ngIf="downloadable">Download {{name}}</button>
        </ng-template>
    </mat-menu>
</div>
