<div class="timeline">
  <div class="outer">
    <div class="card">
      <div class="info">
        <h3 class="title">2016</h3>
        <p>
          Started bachelors at LD College Of Engineering With the specialization
          in Information Technology field
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <h3 class="title">MAY 2018 - JUN 2018</h3>
        <h4 class="subtitle">Java Developer Intern at Exito Systems</h4>
        <p>
          <strong>Project:</strong> admin hum of a school management system
          <br />
          <strong>Role and Responsibilities:</strong>
          frontend design and API integration with restful APIs Tech
          stack:Java-Spring, Jquery, AWS, MySQL, JPA
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <h3 class="title">JAN 2020 - AUG 2020</h3>
        <h4 class="subtitle">Software Engineer Intern at Zeus Learning</h4>
        <p>
          <strong>Project:</strong> Learning Management System <br />
          <strong>Role and Responsibilities:</strong>
          create Web APIs from Backend with .net MVC Core 3.0
          <br />Manage Database and Stored Procedures with <br />liquibase and
          Microsoft SQL Server 17 <br />Implemented API to create Word File from
          given data
        </p>
      </div>
    </div>

    <div class="card">
      <div class="info">
        <h3 class="title">AUG 2020</h3>
        <p>
          Completed the Bachelors with the CGPA of 8.38 And started with the
          Software Engineer at Zeus Learning
        </p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <h3 class="title">FROM AUG 2020</h3>
        <h4 class="subtitle">Software Engineer at Zeus Learning</h4>
        <p>
          <strong>Project:</strong> Reservation System <br />
          <strong>Role and Responsibilities:</strong>
          Create the APIs which are required for Reservation System
          <br>Integrate API with Axios for user Authentication
          <br>Tech stack: Nodejs, Postgres, ExpressJs

          <strong>Project:</strong> Reservation System <br />
          <strong>Role and Responsibilities:</strong>
          Create the APIs which are required for Reservation System
          <br>Integrate API with Axios for user Authentication
          <br>Tech stack: Nodejs, Postgres, ExpressJs
        </p>
      </div>
    </div>
  </div>
</div>
