<div class="terminal-container" (click)="doNotFocusOnMe($event)">
  <div class="warning" style="color: red;margin:10px">
    Alert : we are working on some functionalities of the terminal you may find some issues using it. we are sorry for inconvenience
  </div>
  <div *ngFor="let command of commands" class="commands" >
    <span>{{ command.base }}</span>
    <span>{{ command.directory }}</span>
    <span>{{ command.cmd }}</span><span *ngIf="command === currentCommand" id="cmd-cursor" #cmd_cursor>_</span>
    <br />
    <div [innerHTML]="command.response" class="response"></div>
  </div>
  <input #input type="text" autofocus class="input"  [(ngModel)]="currentCommand.cmd"  (change)="handleKeyboardEvent()" placeholder="add command">
</div>
