.terminal-container {
  .input {
    width: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .commands {
    &:first-child {
      margin-top: 30px;
    }
    .response {
      margin-left: 30px;
      color: white;
    }
    .display-none {
      display: none;
    }
    input {
      border: none;
      background: none;
      color: white;
      max-width: 300px;
      &:focus {
        border: none;
        background: none;
        color: white;

      }
    }
  }
}
